.form {
	background: white;
	border-radius: .55rem;
	box-shadow: 0 2.8px 2.2px rgba($black, .034),
	0 6.7px 5.3px rgba($black, .048),
	0 12.5px 10px rgba($black, .06),
	0 22.3px 17.9px rgba($black, .072),
	0 41.8px 33.4px rgba($black, .086),
	0 100px 80px rgba($black, .12);
	padding: 20px;

	&-control {
		padding: .375rem;
	}

	&-group {
		position: relative;
	}

	&-label {
		color: $gray-600;
		font-size: 12px;
		height: 30px;
		line-height: 30px;
		margin: 0;
		width: 100%;
	}

	#formCardYear {
		position: absolute;
		top: 30px;
		width: calc(100% - 10px);

		.invalid-feedback {
			position: absolute;
			top: 68px;
		}
	}

	.btn-pay {
		background: #36d1dc;
		background: linear-gradient(to right, #36d1dc 0%, #00B4DB 50%, #0083B0 100%);
		background-size: 200% auto;
		border: transparent;
		box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
		transition: 0.5s;

		&:hover {
			background-position: right center;
		}
	}

	.invalid-feedback {
		font-size: 10px;
	}

	@include media-breakpoint-down(xs) {
		.form-row {
			.form-label {
				font-size: 10px;
			}

			.form-control {
				font-size: 10px
			}
		}
	}

	.card-list {
		margin-top: -140px;
	}

	&.was-validated .form-control:valid, .form-control.is-valid {
		background-position: right calc(0.375em + 1.1875rem) center;
	}
}