body {
	/*background: #BBD2C5;
	background: linear-gradient(to right, #536976, #BBD2C5);*/
	background: #83a4d4;
	background: linear-gradient(to top, #83a4d4, #b6fbff);
	min-height: 100vh;
	margin: 0;
}
